In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import requests
import re

# 2011 Club Championship
http://www.usaultimate.org/news/2011-club-championship-stat-totals/

In [2]:
stats_11champ = pd.read_html('../data/2011ClubChampionship.html')

In [5]:
stats_11champ = stats_11champ[0]
stats_11champ.rename(columns={'Name':'Name', '#':'Number', 'Goal':'Goal', 'Assist':'Assist', 'Team':'Team'}, inplace=True)
stats_11champ['Tournament'] = '2011 USAU Club Championships'
for item in stats_11champ.Name:
    stats_11champ['Name'].replace(item, item.upper(), inplace=True)
for item in stats_11champ.Team:
    stats_11champ['Team'].replace(item, item.upper(), inplace=True)
stats_11champ.head(2)

   Team Number           Name  Goal  Assist                    Tournament
0  BENT      0   AKINA YOUNGE     3       1  2011 USAU Club Championships
1  BENT      1  NAOMI BRENDER     0       0  2011 USAU Club Championships

In [6]:
stats_11champ.Team.value_counts()

PHOENIX        27
OZONE          27
MOLLY BROWN    26
BRUTE SQUAD    25
SCANDAL        24
SHOWDOWN       24
BENT           24
CAPITALS       23
REVOLOUTION    23
FURY           23
RIOT           23
NEMESIS        23
SAFARI         20
DESOTO         19
FURTHER        16
Name: Team, dtype: int64

2011 Club Championship Games

In [7]:
games_11champ = {'PHOENIX': 8,
 'OZONE': 7,
 'MOLLY BROWN': 8,
 'BRUTE SQUAD': 8,
 'SCANDAL': 8,
 'SHOWDOWN': 9,
 'BENT': 7,
 'CAPITALS': 8,
 'REVOLOUTION': 8,
 'FURY': 8,
 'RIOT': 8,
 'NEMESIS': 7,
 'SAFARI': 7,
 'DESOTO': 7,
 'FURTHER': 7}

In [8]:
games_list_11champ = []
for item in stats_11champ.Team:
    games_list_11champ.append(games_11champ[item])

In [9]:
stats_11champ['Games'] = games_list_11champ

2011 Club Championship Standings

In [10]:
standing_11champ = {'PHOENIX': 3,
 'OZONE': 11,
 'MOLLY BROWN': 7,
 'BRUTE SQUAD': 10,
 'SCANDAL': 8,
 'SHOWDOWN': 6,
 'BENT': 16,
 'CAPITALS': 3,
 'REVOLOUTION': 12,
 'FURY': 1,
 'RIOT': 2,
 'NEMESIS': 13,
 'SAFARI': 14,
 'DESOTO': 15,
 'FURTHER': 9}

In [11]:
standing_list_11champ = []
for item in stats_11champ.Team:
    standing_list_11champ.append(standing_11champ[item])

In [12]:
stats_11champ['Standing'] = standing_list_11champ

2011 Club CHampionship Spirit

http://www.usaultimate.org/archives/2011_club.aspx

In [13]:
spirit_11champ = {'PHOENIX': 3.14,
 'OZONE': 4.29,
 'MOLLY BROWN': 4.29,
 'BRUTE SQUAD': 3.50,
 'SCANDAL': 3.75,
 'SHOWDOWN': 3.89,
 'BENT': 4.29,
 'CAPITALS': 3.50,
 'REVOLOUTION': 4.38,
 'FURY': 4.14,
 'RIOT': 3.57,
 'NEMESIS': 3.00,
 'SAFARI': 4.29,
 'DESOTO': 3.86,
 'FURTHER': 4.29}

In [16]:
scores_list_11champ = []
for item in stats_11champ.Team:
    scores_list_11champ.append(spirit_11champ[item]/5.0)

In [17]:
stats_11champ['Block'] = np.nan
stats_11champ['Turn'] = np.nan

In [18]:
stats_11champ['Spirit'] = scores_list_11champ
stats_11champ = stats_11champ[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_11champ.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,BENT,0,AKINA YOUNGE,3,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858
1,BENT,1,NAOMI BRENDER,0,0,NaN,NaN,7,2011 USAU Club Championships,16,0.858
2,BENT,2,KAREN CHALIF,4,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858
3,BENT,7,ANNE SILVER,0,0,NaN,NaN,7,2011 USAU Club Championships,16,0.858
4,BENT,8,MARISA WESTHEIMER,1,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858

# 2012 US Open
http://www.usaultimate.org/news/2012-us-open-statistics/

In [19]:
r = requests.get('http://www.usaultimate.org/news/2012-us-open-statistics/') 
b = BeautifulSoup(r.text, 'html.parser')

In [20]:
# b.find_all('table', {'width':'585'})[2].find_all('td')

In [21]:
# get out values between td tags
List1 = [str(item)[4:-5] for item in b.find_all('table',{'width':'585'})[2].find_all('td')]

playerInfo_12usopen = []
count = 0

while count < len(List1):

    info = {}

    info['Number'] = List1[count+1]
    info['Name'] = List1[count+2].upper()
    info['Goal'] = int(List1[count+3])
    info['Assist'] = int(List1[count+4])
    info['Block'] = int(List1[count+5])
    info['Turn'] = int(List1[count+6])
    info['Team'] = List1[count].upper()
    info['Tournament'] = '2012 US Open'

    count += 7
    playerInfo_12usopen.append(info)

In [22]:
stats_12usopen = DataFrame.from_dict(playerInfo_12usopen)
stats_12usopen.head()

,Assist,Block,Goal,Name,Number,Team,Tournament,Turn
0,0,0,0,MARISABEL BURBUJA LOGREIRA,0,AEROSOUL,2012 US Open,7
1,2,0,2,ANDREA VACCA,1,AEROSOUL,2012 US Open,3
2,0,3,1,MAIRA LORENA WALTERO,2,AEROSOUL,2012 US Open,6
3,0,1,0,SUZANNE WAVROCH,02,AEROSOUL,2012 US Open,3
4,0,0,0,ALEJANDRA GOMEZ,3,AEROSOUL,2012 US Open,0

In [23]:
stats_12usopen.Team.value_counts()

MOLLY BROWN    29
PHOENIX        28
RIOT           25
SAFARI         25
AEROSOUL       24
SHOWDOWN       24
SCANDAL        23
OZONE          19
Name: Team, dtype: int64

2012 US Open Games

In [24]:
games_12usopen = {'MOLLY BROWN': 7,
 'PHOENIX': 8,
 'RIOT': 9,
 'SAFARI': 7,
 'AEROSOUL': 7,
 'SHOWDOWN': 8,
 'SCANDAL': 9,
 'OZONE': 7}

In [25]:
games_list_12usopen = []
for item in stats_12usopen.Team:
    games_list_12usopen.append(games_12usopen[item])

In [26]:
stats_12usopen['Games'] = games_list_12usopen

2012 US Open Standings

In [27]:
standing_12usopen = {'MOLLY BROWN': 6,
 'PHOENIX': 3,
 'RIOT': 1,
 'SAFARI': 7,
 'AEROSOUL': 8,
 'SHOWDOWN': 3,
 'SCANDAL': 2,
 'OZONE': 5}

In [28]:
standing_list_12usopen = []
for item in stats_12usopen.Team:
    standing_list_12usopen.append(standing_12usopen[item])

In [29]:
stats_12usopen['Standing'] = standing_list_12usopen

2012 US Open Spirit

http://www.usaultimate.org/archives/2012_club.aspx#usopen

In [30]:
r = requests.get('http://www.usaultimate.org/archives/2012_club.aspx#usopen') 
b = BeautifulSoup(r.text, 'html.parser')

In [31]:
scores_12usopen = [str(item) for item in b.findAll('table', {'width':'480'})[5].findAll('td')]
scores_12usopen

['<td>1</td>',
 '<td><strong>Riot</strong></td>',
 '<td>Northwest</td>',
 '<td>4.44</td>',
 '<td>2</td>',
 '<td>Scandal</td>',
 '<td>Mid-Atlantic</td>',
 '<td>3.89</td>',
 '<td>3T</td>',
 '<td>Phoenix</td>',
 '<td>Southeast</td>',
 '<td>4.13</td>',
 '<td>3T</td>',
 '<td>Showdown</td>',
 '<td>South Central</td>',
 '<td>4.50</td>',
 '<td>5</td>',
 '<td>Ozone</td>',
 '<td>Southeast</td>',
 '<td>3.00</td>',
 '<td>6</td>',
 '<td>Molly Brown</td>',
 '<td>South Central</td>',
 '<td><strong>4.57</strong></td>',
 '<td>7</td>',
 '<td>Safari</td>',
 '<td>Southwest</td>',
 '<td>4.43</td>',
 '<td>8</td>',
 '<td>Aerosoul</td>',
 '<td>International</td>',
 '<td>4.00</td>']

In [32]:
spirit_12usopen = {}
count = 1

while count < len(scores_12usopen):
    spirit_12usopen[re.findall('([^>]*)</', scores_12usopen[count])[0].upper()] = float(re.findall('([^>]*)</', scores_12usopen[count+2])[0])

    count += 4
    
spirit_12usopen

{'AEROSOUL': 4.0,
 'MOLLY BROWN': 4.57,
 'OZONE': 3.0,
 'PHOENIX': 4.13,
 'RIOT': 4.44,
 'SAFARI': 4.43,
 'SCANDAL': 3.89,
 'SHOWDOWN': 4.5}

In [33]:
scores_list_12usopen = []
for item in stats_12usopen.Team:
    scores_list_12usopen.append(spirit_12usopen[item]/5.0)

In [34]:
stats_12usopen['Spirit'] = scores_list_12usopen
stats_12usopen = stats_12usopen[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_12usopen.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,AEROSOUL,0,MARISABEL BURBUJA LOGREIRA,0,0,0,7,7,2012 US Open,8,0.8
1,AEROSOUL,1,ANDREA VACCA,2,2,0,3,7,2012 US Open,8,0.8
2,AEROSOUL,2,MAIRA LORENA WALTERO,1,0,3,6,7,2012 US Open,8,0.8
3,AEROSOUL,02,SUZANNE WAVROCH,0,0,1,3,7,2012 US Open,8,0.8
4,AEROSOUL,3,ALEJANDRA GOMEZ,0,0,0,0,7,2012 US Open,8,0.8

# 2012 Club Championship

Not available

# 2012 WUGC
http://fdsys.jfda.or.jp/pscore/scv_team/open/85?lang=en

In [35]:
r = requests.get('http://fdsys.jfda.or.jp/pscore/scv_team/open/85?lang=en') 
b = BeautifulSoup(r.text, 'html.parser')

# b.findAll('span',{'class':'SCV_MIDA_M'})
b.find('table',{'style':'width: 95%'}).find('tr',{'class':''}).text.split('\n')

[u'', u'#', u'Player', u'Games', u'Assist', u'Goal', u'Tot.', u'block', u'']

In [36]:
columns_2012WUGC = b.find('table',{'style':'width: 95%'}).find('tr',{'class':''}).text.split('\n')[1:-1]
columns_2012WUGC

[u'#', u'Player', u'Games', u'Assist', u'Goal', u'Tot.', u'block']

In [37]:
List1 = [str(item)[15:-5] for item in b.find('table',{'style':'width: 95%'}).find_all('td')[7:]]
List1
# List1[1].split('</span>')[1][:-5]
int(List1[5][:-2])

35

In [38]:
def player_info_dict():
    
    List1 = [str(item)[15:-5] for item in b.find('table',{'style':'width: 95%'}).find_all('td')[7:]]
    
    playerInfo = []
    count = 0
    
    while count < len(List1):
        
        info = {}

        info['#'] = List1[count]
        info['Player'] = List1[count+1].split('</span>')[1][:-5].upper()
        info['Games'] = int(List1[count+2])
        info['Assist'] = int(List1[count+3])
        info['Goals'] = int(List1[count+4])
        info['Team'] = 'FURY'
        info['Block'] = np.nan
        info['Turn'] = np.nan
        
        count += 7
        playerInfo.append(info)
    
    return playerInfo

In [39]:
stats_12WUGC = DataFrame.from_dict(player_info_dict())

stats_12WUGC.rename(columns={'#':'Number', 'Goals':'Goal', 'Player':'Name'}, inplace=True)
stats_12WUGC = stats_12WUGC[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn']]
stats_12WUGC['Games'] = 12
stats_12WUGC['Tournament'] = '2012 WUGC'
stats_12WUGC['Standing'] = 2
stats_12WUGC.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing
0,FURY,4,ALEX SNYDER,3,32,NaN,NaN,12,2012 WUGC,2
1,FURY,19,GEORGIA BOSSCHER,13,14,NaN,NaN,12,2012 WUGC,2
2,FURY,7,KAELA JORGENSON,12,10,NaN,NaN,12,2012 WUGC,2
3,FURY,13,CREE HOWARD,15,6,NaN,NaN,12,2012 WUGC,2
4,FURY,26,ALICIA WHITE,16,2,NaN,NaN,12,2012 WUGC,2

2012 WUGC Spirit 

http://www.wfdf.org/news-media/news/news/463-world-flying-disc-federation-releases-spirit-scores-from-2012-world-ultimate-championships

In [40]:
stats_12WUGC['Spirit'] = 12.00/20

In [41]:
stats_12WUGC.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,FURY,4,ALEX SNYDER,3,32,NaN,NaN,12,2012 WUGC,2,0.6
1,FURY,19,GEORGIA BOSSCHER,13,14,NaN,NaN,12,2012 WUGC,2,0.6
2,FURY,7,KAELA JORGENSON,12,10,NaN,NaN,12,2012 WUGC,2,0.6
3,FURY,13,CREE HOWARD,15,6,NaN,NaN,12,2012 WUGC,2,0.6
4,FURY,26,ALICIA WHITE,16,2,NaN,NaN,12,2012 WUGC,2,0.6

# 2013 US Open
http://www.usaultimate.org/news/2013-us-open-statistics/

In [42]:
r = requests.get('http://www.usaultimate.org/news/2013-us-open-statistics/')
b = BeautifulSoup(r.text, 'html.parser')

In [43]:
b.find_all('table',{'width':'585'})[2].find_all('th')

[<th>Team</th>,
 <th>#</th>,
 <th>Player</th>,
 <th>Goals</th>,
 <th>Assists</th>,
 <th>Ds</th>,
 <th>TOs</th>]

In [44]:
# get out values between td tags
List1 = [str(item)[4:-5] for item in b.find_all('table',{'width':'585'})[2].find_all('td')]

playerInfo_13usopen = []
count = 0

while count < len(List1):

    info = {}

    info['Number'] = List1[count+1]
    info['Name'] = List1[count+2].upper()
    info['Goal'] = int(List1[count+3])
    info['Assist'] = int(List1[count+4])
    info['Block'] = int(List1[count+5])
    info['Turn'] = int(List1[count+6])
    info['Team'] = List1[count].upper()
    info['Tournament'] = '2013 US Open'

    count += 7
    playerInfo_13usopen.append(info)

In [45]:
stats_13usopen = DataFrame.from_dict(playerInfo_13usopen)
stats_13usopen.head()

   Assist  Block  Goal              Name Number  Team    Tournament  Turn
0       5      2     5  CASTLE SINICROPE      3  FURY  2013 US Open     5
1      23      5     2       ALEX SNYDER      4  FURY  2013 US Open    12
2      12      6     6   KAELA JORGENSON      5  FURY  2013 US Open     3
3       0      1     5   ALICIA DANTZKER      6  FURY  2013 US Open     3
4       4      5     6    CLAIRE SHARMAN      7  FURY  2013 US Open     2

2013 US Open Spirit

http://www.usaultimate.org/news/2013-us-open-team-spirit-scores/

In [46]:
spirit_13usopen = {'REVOLUTION': 13.29,
                   'MUD': 13.14, 
                   'FURY': 13.13, 
                   'RIOT': 12.63, 
                   'NOVA': 11.86, 
                   'PHOENIX': 11.64, 
                   'SHOWDOWN': 11.63, 
                   'SCANDAL': 11.38}

In [47]:
scores_list_13usopen = []
for item in stats_13usopen.Team:
    scores_list_13usopen.append(spirit_13usopen[item]/16.0)

In [48]:
stats_13usopen['Spirit'] = scores_list_13usopen

2013 US Open Standings

In [55]:
standing_13usopen = {'REVOLUTION': 6,
                     'MUD': 5, 
                     'FURY': 1, 
                     'RIOT': 3, 
                     'NOVA': 8, 
                     'PHOENIX': 7, 
                     'SHOWDOWN': 3, 
                     'SCANDAL': 2}

In [56]:
standing_list_13usopen = []
for item in stats_13usopen.Team:
    standing_list_13usopen.append(standing_13usopen[item])

In [57]:
stats_13usopen['Standing'] = standing_list_13usopen

2013 US Open Games

In [58]:
games_13usopen = {'REVOLUTION': 7,
                  'MUD': 7, 
                  'FURY': 9, 
                  'RIOT': 8, 
                  'NOVA': 7, 
                  'PHOENIX': 7, 
                  'SHOWDOWN': 8, 
                  'SCANDAL': 9}

In [60]:
games_list_13usopen = []
for item in stats_13usopen.Team:
    games_list_13usopen.append(games_13usopen[item])

In [61]:
stats_13usopen['Games'] = games_list_13usopen

In [63]:
stats_13usopen = stats_13usopen[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]

In [64]:
stats_13usopen.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,FURY,3,CASTLE SINICROPE,5,5,2,5,9,2013 US Open,1,0.820625
1,FURY,4,ALEX SNYDER,2,23,5,12,9,2013 US Open,1,0.820625
2,FURY,5,KAELA JORGENSON,6,12,6,3,9,2013 US Open,1,0.820625
3,FURY,6,ALICIA DANTZKER,5,0,1,3,9,2013 US Open,1,0.820625
4,FURY,7,CLAIRE SHARMAN,6,4,5,2,9,2013 US Open,1,0.820625

# 2013 Club Championship

In [65]:
stats_13champ = pd.read_html('../data/2013ClubChampStats.html')

In [66]:
stats_13champ = stats_13champ[0]
stats_13champ.rename(columns={'Player':'Name', '#':'Number', 'Goals':'Goal', 'Assists':'Assist', 'Ds':'Block', 'TOs':'Turn'}, inplace=True)
stats_13champ['Tournament'] = '2013 USAU Club Championships'
for item in stats_13champ.Name:
    stats_13champ['Name'].replace(item, item.upper(), inplace=True)
for item in stats_13champ.Team:
    stats_13champ['Team'].replace(item, item.upper(), inplace=True)
stats_13champ.head(2)

,Team,Number,Name,Goal,Assist,Block,Turn,Tournament
0,BENT,0,BRITTANY KAPLAN,0,3,2,5,2013 USAU Club Championships
1,BENT,1,LEXI ZALK,4,1,4,0,2013 USAU Club Championships

2013 Club Campionship Games

In [67]:
games_13champ = {'BENT': 6,
 'BRUTE SQUAD': 6,
 'CAPITALS': 6,
 'FURY': 7,
 'HEIST': 6,
 'MOLLY BROWN': 6,
 'NEMESIS': 6,
 'NIGHTLOCK': 6,
 'NOVA': 6,
 'OZONE': 6,
 'PHOENIX': 6,
 'RIOT': 7,
 'SCANDAL': 7,
 'SCHWA': 6,
 'SHOWDOWN': 7,
 'TRAFFIC': 6}

In [68]:
games_list_13champ = []
for item in stats_13champ.Team:
    games_list_13champ.append(games_13champ[item])

In [69]:
stats_13champ['Games'] = games_list_13champ

2013 Club Championship Final standings

In [70]:
standing_13champ = {'BENT': 13,
 'BRUTE SQUAD': 6,
 'CAPITALS': 7,
 'FURY': 2,
 'HEIST': 12,
 'MOLLY BROWN': 11,
 'NEMESIS': 5,
 'NIGHTLOCK': 9,
 'NOVA': 16,
 'OZONE': 9,
 'PHOENIX': 14,
 'RIOT': 3,
 'SCANDAL': 1,
 'SCHWA': 15,
 'SHOWDOWN': 4,
 'TRAFFIC': 7}

In [71]:
standing_list_13champ = []
for item in stats_13champ.Team:
    standing_list_13champ.append(standing_13champ[item])

In [72]:
stats_13champ['Standing'] = standing_list_13champ

2013 Club Championship Spirit

In [73]:
r = requests.get('http://www.usaultimate.org/news/2013-national-championships--spirit-of-the-game/?')
b = BeautifulSoup(r.text, 'html.parser')

In [74]:
b.find_all('table',{'width':'198'})[2]

<table border="1" cellpadding="1" cellspacing="1" class="tablesorter" style="font-size: 11px; font-style: normal; color: rgb(0, 0, 0);" width="198">\n<thead>\n<tr>\n<th><strong>Score</strong></th>\n<th><strong>Team</strong></th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>4.43</td>\n<td bgcolor="#00ff00"><span style="background-color: rgb(0, 255, 0);">Riot</span></td>\n</tr>\n<tr>\n<td>4.36</td>\n<td>Scandal</td>\n</tr>\n<tr>\n<td>4.33</td>\n<td>Phoenix</td>\n</tr>\n<tr>\n<td>4.33</td>\n<td>Schwa</td>\n</tr>\n<tr>\n<td>4.17</td>\n<td>Heist</td>\n</tr>\n<tr>\n<td>4.17</td>\n<td>Nemesis</td>\n</tr>\n<tr>\n<td>4.14</td>\n<td>Fury</td>\n</tr>\n<tr>\n<td>4.14</td>\n<td>Showdown</td>\n</tr>\n<tr>\n<td>4.00</td>\n<td>Bent</td>\n</tr>\n<tr>\n<td>4.00</td>\n<td>Brute Squad</td>\n</tr>\n<tr>\n<td>4.00</td>\n<td>Nova</td>\n</tr>\n<tr>\n<td>3.83</td>\n<td>Capitals</td>\n</tr>\n<tr>\n<td>3.83</td>\n<td>Molly Brown</td>\n</tr>\n<tr>\n<td>3.83</td>\n<td>Traffic</td>\n</tr>\n<tr>\n<td>3.67</td>\n<td>Nightlock</td>\n</tr>\n<tr>\n<td>3.00</td>\n<td>Ozone</td>\n</tr>\n</tbody>\n</table>

In [75]:
temp_scores = [str(item).split('\n') for item in b.find_all('table',{'width':'198'})[2].find('tbody')]

scores_13champ = []

for item in temp_scores[1::2]:
    scores_13champ.append(item[1:3])

scores_13champ

spirit_13champ = {}
count = 0

while count < len(scores_13champ):
    spirit_13champ[re.findall('([^>]*)</', scores_13champ[count][1])[0].upper()] = float(re.findall('([^>]*)</', scores_13champ[count][0])[0])

    count += 1
    
spirit_13champ

{'BENT': 4.0,
 'BRUTE SQUAD': 4.0,
 'CAPITALS': 3.83,
 'FURY': 4.14,
 'HEIST': 4.17,
 'MOLLY BROWN': 3.83,
 'NEMESIS': 4.17,
 'NIGHTLOCK': 3.67,
 'NOVA': 4.0,
 'OZONE': 3.0,
 'PHOENIX': 4.33,
 'RIOT': 4.43,
 'SCANDAL': 4.36,
 'SCHWA': 4.33,
 'SHOWDOWN': 4.14,
 'TRAFFIC': 3.83}

In [76]:
scores_list_13champ = []
for item in stats_13champ.Team:
    scores_list_13champ.append(spirit_13champ[item]/5.0)

In [77]:
stats_13champ['Spirit'] = scores_list_13champ
stats_13champ = stats_13champ[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]

In [78]:
stats_13champ[stats_13champ.Team == 'TRAFFIC'].head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
379,TRAFFIC,0,TERRI WHITEHEAD,11,0,5,2,6,2013 USAU Club Championships,7,0.766
380,TRAFFIC,2,DANIELLE FORTIN,3,12,3,16,6,2013 USAU Club Championships,7,0.766
381,TRAFFIC,3,MICHELLE NING,0,3,1,2,6,2013 USAU Club Championships,7,0.766
382,TRAFFIC,4,KATIE BEREZAN,1,2,1,1,6,2013 USAU Club Championships,7,0.766
383,TRAFFIC,5,ASHLEE DAVISON,7,6,6,3,6,2013 USAU Club Championships,7,0.766

# 2013 World Games
http://results.wfdf.org/?view=teamcard&Team=1469

In [79]:
r = requests.get('http://results.wfdf.org/?view=teamcard&Team=1469') 
b = BeautifulSoup(r.text, 'html.parser')

In [80]:
b.find('table', {'style':'width:80%'}).find_all('td')[15:-5]
List = [str(item)[19:-5] for item in b.find('table', {'style':'width:80%'}).find_all('td')]
# List[0].split(' ')[0].split('#')[1]
# List[0].split(' ')
# List[10][List[10].find(' ')+1:List[10].find('<')]
# List[count].split(' ')[0].split('#')[1]
# List[0][List[0].find('#')+1:List[0].find(' ')]
# List[0:5]

In [81]:
def player_info_WG():
    
    List = [str(item)[19:-5] for item in b.find('table', {'style':'width:80%'}).find_all('td')]
    
    playerInfo = []
    count = 0
    
    while count < len(List):
        
        info = {}

        info['Number'] = List[count][List[count].find('#')+1:List[count].find(' ')]
        info['Name'] = List[count][List[count].find(' ')+1:List[count].find('<')].upper()
        info['Games'] = int(List[count+1])
        info['Assist'] = int(List[count+2])
        info['Goal'] = int(List[count+3])
        info['Team'] = 'TEAM USA'
        info['Block'] = np.nan
        info['Turn'] = np.nan
        info['Tournament'] = '2013 World Games'
        info['Standing'] = 1
        info['Spirit'] = np.nan
        
        count += 5
        playerInfo.append(info)
    
    return playerInfo

In [83]:
stats_13WG = DataFrame.from_dict(player_info_WG())
stats_13WG = stats_13WG[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]

In [84]:
stats_13WG

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,TEAM USA,24,ALEX SNYDER,1,10,NaN,NaN,6,2013 World Games,1,NaN
1,TEAM USA,27,ASHLIN JOYE,3,6,NaN,NaN,6,2013 World Games,1,NaN
2,TEAM USA,50,BEAU KITTREDGE,15,7,NaN,NaN,6,2013 World Games,1,NaN
3,TEAM USA,5,CARA CROUCH,2,3,NaN,NaN,6,2013 World Games,1,NaN
4,TEAM USA,78,DYLAN TUNNELL,3,12,NaN,NaN,6,2013 World Games,1,NaN
5,TEAM USA,3,GEORGE STUBBS,9,7,NaN,NaN,6,2013 World Games,1,NaN
6,TEAM USA,19,GEORGIA BOSSCHER,3,3,NaN,NaN,6,2013 World Games,1,NaN
7,TEAM USA,40,MAC TAYLOR,7,17,NaN,NaN,6,2013 World Games,1,NaN
8,TEAM USA,18,MICHAEL NATENBERG,7,5,NaN,NaN,6,2013 World Games,1,NaN
9,TEAM USA,9,OCTAVIA PAYNE,4,1,NaN,NaN,6,2013 World Games,1,NaN
10,TEAM USA,16,RYAN FARRELL,6,6,NaN,NaN,6,2013 World Games,1,NaN
11,TEAM USA,6,SARAH GRIFFITH,11,0,NaN,NaN,6,2013 World Games,1,NaN
12,TEAM USA,13,VIRGINIA HOWARD,6,0,NaN,NaN,6,2013 World Games,1,NaN

In [85]:
# rid of male players
stats_13WG.drop(stats_13WG.index[[1, 2, 4, 5, 7, 8, 10]], inplace=True)

In [86]:
stats_13WG

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,TEAM USA,24,ALEX SNYDER,1,10,NaN,NaN,6,2013 World Games,1,NaN
3,TEAM USA,5,CARA CROUCH,2,3,NaN,NaN,6,2013 World Games,1,NaN
6,TEAM USA,19,GEORGIA BOSSCHER,3,3,NaN,NaN,6,2013 World Games,1,NaN
9,TEAM USA,9,OCTAVIA PAYNE,4,1,NaN,NaN,6,2013 World Games,1,NaN
11,TEAM USA,6,SARAH GRIFFITH,11,0,NaN,NaN,6,2013 World Games,1,NaN
12,TEAM USA,13,VIRGINIA HOWARD,6,0,NaN,NaN,6,2013 World Games,1,NaN

In [87]:
stats_13WG.replace('VIRGINIA HOWARD', 'CREE HOWARD', inplace=True)

In [88]:
stats_13WG

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,TEAM USA,24,ALEX SNYDER,1,10,NaN,NaN,6,2013 World Games,1,NaN
3,TEAM USA,5,CARA CROUCH,2,3,NaN,NaN,6,2013 World Games,1,NaN
6,TEAM USA,19,GEORGIA BOSSCHER,3,3,NaN,NaN,6,2013 World Games,1,NaN
9,TEAM USA,9,OCTAVIA PAYNE,4,1,NaN,NaN,6,2013 World Games,1,NaN
11,TEAM USA,6,SARAH GRIFFITH,11,0,NaN,NaN,6,2013 World Games,1,NaN
12,TEAM USA,13,CREE HOWARD,6,0,NaN,NaN,6,2013 World Games,1,NaN

# 2014 US Open
http://play.usaultimate.org/events/USA-Ultimate-US-Open/schedule/women/Club-Women/

In [94]:
teams_14usopen = get_team_stat_urls('http://play.usaultimate.org/events/USA-Ultimate-US-Open/schedule/women/Club-Women/')

In [95]:
stats_14usopen = DataFrame.from_dict(get_stats(teams_14usopen))

In [98]:
cols = ['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn']
stats_14usopen = stats_14usopen[cols]
stats_14usopen['Tournament'] = '2014 US Open'

In [99]:
stats_14usopen.Team.value_counts()

FURY           26
RIOT           25
SCANDAL        24
TRAFFIC        23
BRUTE SQUAD    22
SHOWDOWN       22
BAMBOO         15
ICENI          15
Name: Team, dtype: int64

2014 US Open Games

In [100]:
games_14usopen = {'FURY': 8,
 'RIOT': 9,
 'SCANDAL': 7,
 'TRAFFIC': 8,
 'BRUTE SQUAD': 9,
 'SHOWDOWN': 7,
 'BAMBOO': 7,
 'ICENI': 7}

In [101]:
games_list_14usopen = []
for item in stats_14usopen.Team:
    games_list_14usopen.append(games_14usopen[item])

In [102]:
stats_14usopen['Games'] = games_list_14usopen

2014 US Open Standings

In [103]:
standing_14usopen = {'FURY': 3,
 'RIOT': 1,
 'SCANDAL': 5,
 'TRAFFIC': 3,
 'BRUTE SQUAD': 2,
 'SHOWDOWN': 6,
 'BAMBOO': 8,
 'ICENI': 7}

In [104]:
standing_list_14usopen = []
for item in stats_14usopen.Team:
    standing_list_14usopen.append(standing_14usopen[item])

In [105]:
stats_14usopen['Standing'] = standing_list_14usopen

2014 US Open Spirit Scores

http://www.usaultimate.org/archives/2014_club.aspx#usopen

In [106]:
# spirit scores
r = requests.get('http://www.usaultimate.org/archives/2014_club.aspx#usopen')
b = BeautifulSoup(r.text, 'html.parser')

In [107]:
scores_14usopen = [str(item) for item in b.find_all('table',{'width':'480'})[5].find_all('td')]
scores_14usopen

['<td>1</td>',
 '<td>Riot</td>',
 '<td>Northwest</td>',
 '<td><span style="background-color: rgb(0, 255, 0);">16.57</span></td>',
 '<td>2</td>',
 '<td>Brute Squad</td>',
 '<td>Northeast</td>',
 '<td>14.71</td>',
 '<td>3T</td>',
 '<td>Traffic</td>',
 '<td>Northwest</td>',
 '<td>14.29</td>',
 '<td>3T</td>',
 '<td>Fury</td>',
 '<td>Southwest</td>',
 '<td>15.43</td>',
 '<td>5</td>',
 '<td>Scandal</td>',
 '<td>Mid-Atlantic</td>',
 '<td>15.43</td>',
 '<td>6</td>',
 '<td>Showdown</td>',
 '<td>South Central</td>',
 '<td>13.86</td>',
 '<td>7</td>',
 '<td>Iceni</td>',
 '<td>n/a (United Kingdom)</td>',
 '<td><span style="background-color: rgb(0, 255, 0);">16.57</span></td>',
 '<td>8</td>',
 '<td>Bamboo</td>',
 '<td>n/a (Colombia)</td>',
 '<td>15.14</td>']

In [108]:
spirit_14usopen = {}
count = 1

while count < len(scores_14usopen):
    spirit_14usopen[re.findall('([^>]*)</', scores_14usopen[count])[0].upper()] = float(re.findall('([^>]*)</', scores_14usopen[count+2])[0])

    count += 4
    
spirit_14usopen

{'BAMBOO': 15.14,
 'BRUTE SQUAD': 14.71,
 'FURY': 15.43,
 'ICENI': 16.57,
 'RIOT': 16.57,
 'SCANDAL': 15.43,
 'SHOWDOWN': 13.86,
 'TRAFFIC': 14.29}

In [109]:
scores_list_14usopen = []
for item in stats_14usopen.Team:
    scores_list_14usopen.append(spirit_14usopen[item]/20.0)

In [110]:
stats_14usopen['Spirit'] = scores_list_14usopen
stats_14usopen = stats_14usopen[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_14usopen.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,RIOT,01,KELLY JOHNSON,9,6,NaN,NaN,9,2014 US Open,1,0.8285
1,RIOT,02,ELLE BURSTEIN,0,0,NaN,NaN,9,2014 US Open,1,0.8285
2,RIOT,03,GWEN AMBLER,1,6,NaN,NaN,9,2014 US Open,1,0.8285
3,RIOT,04,ROHRE TITCOMB,5,8,NaN,NaN,9,2014 US Open,1,0.8285
4,RIOT,05,KATE KINGERY,6,7,NaN,NaN,9,2014 US Open,1,0.8285

# 2014 Club Championship Stats
http://play.usaultimate.org/events/usa-ultimate-national-championships/

In [111]:
def get_team_stat_urls(Championship_Page_URL):
    import requests
    from bs4 import BeautifulSoup
    
    r = requests.get(Championship_Page_URL) 
    b = BeautifulSoup(r.text, 'html.parser')

    step1 = [str(item).split('\n') for item in b.find_all('tr', style='border: 1px solid #eee;')]
    step2 = [item[1][13:-9] for item in step1]
    step3 = [item.split('">') for item in step2]
    step4 = [item[1].split(' (') for item in step3]
    
    dict_name = {}
    
    for item in range(len(step4)):
        dict_name[step4[item][0]] = step3[item][0] 
    
    return dict_name

In [112]:
teams_14champ = get_team_stat_urls('http://play.usaultimate.org/events/USA-Ultimate-National-Championships/schedule/Women/Club-Women/')

In [113]:
teams_14champ

{'Brute Squad': '/events/teams/?EventTeamId=xp%2bejIJBOcfXXkdUBdhyKw7QdaKTsy2msZaYJsN0QFI%3d',
 'Capitals': '/events/teams/?EventTeamId=QMEULDssKTN4OuwrBMNq94efa7qxYCOB39XjXXvDBuY%3d',
 'Fury': '/events/teams/?EventTeamId=CBkbxJkqtPUazzlNKxrMYL476TAvWyT%2b%2bII9vIya7AM%3d',
 'Green Means Go': '/events/teams/?EventTeamId=ejfj3ptI1RiAMMNBDBMR%2bOWMPBwsN0Y86S%2fuCAYPw9U%3d',
 'Heist': '/events/teams/?EventTeamId=h%2bkaG2ZXhVd798X3lGV7PeEc5SUIuvMgQy9BNMokNsM%3d',
 'Molly Brown': '/events/teams/?EventTeamId=cKqY9nt%2bZuiYvmdlJ2MwdG0cK1L9yUN%2bWnowMqR1zKg%3d',
 'Nemesis': '/events/teams/?EventTeamId=mIbs2PBWcyioQl2JAuLt1FjcCr3eIAK7iEJX3hRzIO8%3d',
 'Nightlock': '/events/teams/?EventTeamId=KWGXFcYyimfQtEQ%2fDYoEE7kZ1HzzEC0yN7KIfYlhSWg%3d',
 'Ozone': '/events/teams/?EventTeamId=01oilPzTzWp6xnsGkQ0uJtZl64NEdUOHJ0wQZrvMnNY%3d',
 'Riot': '/events/teams/?EventTeamId=ddLOZCRcEzHqNrt1jat3nz4wNJ%2f7YNKK5OZQonhRuaQ%3d',
 'Scandal': '/events/teams/?EventTeamId=m%2f3%2f0BtHZz5iI3aEgO1fqtpMAlDOwL7dnQ9uEQk0EK8%3d',
 'Schwa': '/events/teams/?EventTeamId=esap3%2bfn3sLLAi%2bd1CxTiw7BVTCxjkAJdsoGTOIgx%2bc%3d',
 'Showdown': '/events/teams/?EventTeamId=i9PHtiZOwQbftmahwj7ZWJSPQInr4SNYpfhAUtOB3xo%3d',
 'Tabby Rosa': '/events/teams/?EventTeamId=BsdQC%2fDwobEqjntQ3M%2bPsGxZBLsy7MKdvHHcjWZszdU%3d',
 'Traffic': '/events/teams/?EventTeamId=lz7rHLVbDRM0KJ9kdEdQCmulguSFhgEyLZE8x%2fjkm5A%3d',
 'Underground': '/events/teams/?EventTeamId=3sDF4XVM1iwycJyXOa%2fItCAuNm%2b40z%2bEJPmAfa7S2BA%3d'}

In [115]:
# explore existing columns

r = requests.get('http://play.usaultimate.org' + teams_14champ['Traffic']) #any team name will do
team_page = BeautifulSoup(r.text, 'html.parser')

In [117]:
columns_14champ = [str(item)[15:-5] for item in team_page.find('div', id='roster_list').find_all('th', span='col')]

In [118]:
columns_14champ

['No.',
 'Name',
 'Position',
 'Year',
 'Height',
 'Goals',
 'Assists',
 'Ds',
 'Turns']

In [119]:
def get_stats_page(team_name, dict_name):
    # get html of team stats page
    r = requests.get('http://play.usaultimate.org' + dict_name[team_name])
    team_page = BeautifulSoup(r.text, 'html.parser')
    return team_page.find('div', id='roster_list')

In [120]:
def player_info(team_name, dict_name):
    
    List1 = [str(item)[4:-5] for item in get_stats_page(team_name, dict_name).find_all('td')]
    
    playerInfo = []
    count = 0
    
    while count < len(List1):
        
        info = {}

        info['Number'] = List1[count]
        info['Name'] = List1[count+1].upper()
#         info['Position'] = List1[count+2]
#         info['Year'] = List1[count+3]
#         info['Height'] = List1[count+4]
        info['Goal'] = int(List1[count+5])
        info['Assist'] = int(List1[count+6])
        info['Block'] = np.nan # int(List1[count+7])
        info['Turn'] = np.nan # int(List1[count+8])
        info['Team'] = team_name.upper()
        
        count += 9
        playerInfo.append(info)
    
    return playerInfo

In [121]:
def get_stats(dict_name):
    stats = []

    for team in dict_name:
        stats += player_info(str(team), dict_name)
    
    return stats

In [122]:
stats_14champ = DataFrame.from_dict(get_stats(teams_14champ))
stats_14champ.head()

   Assist  Block  Goal           Name Number       Team  Turn
0       0    NaN     0     KARA KELLY     00  NIGHTLOCK   NaN
1       2    NaN     2   SHARON TSENG     01  NIGHTLOCK   NaN
2       7    NaN     5  MARISA RAFTER     02  NIGHTLOCK   NaN
3       3    NaN     3   MICHAELA LEE     03  NIGHTLOCK   NaN
4       5    NaN     3  MARIKA AUSTIN     04  NIGHTLOCK   NaN

In [123]:
stats_14champ = stats_14champ[cols]
stats_14champ['Tournament'] = '2014 USAU Club Championships'
stats_14champ.tail()

,Team,Number,Name,Goal,Assist,Block,Turn,Tournament
386,GREEN MEANS GO,44,NATALIE GUSTAFSON,1,0,NaN,NaN,2014 USAU Club Championships
387,GREEN MEANS GO,51,JAMIE BARR,0,0,NaN,NaN,2014 USAU Club Championships
388,GREEN MEANS GO,53,MARGIE GUY,0,0,NaN,NaN,2014 USAU Club Championships
389,GREEN MEANS GO,66,SHERRY LI,1,1,NaN,NaN,2014 USAU Club Championships
390,GREEN MEANS GO,88,EILEEN PEACH REGAN,0,0,NaN,NaN,2014 USAU Club Championships

2014 Championship Games

In [124]:
games_14champ = {'BRUTE SQUAD': 6,
 'CAPITALS': 4,
 'FURY': 7,
 'GREEN MEANS GO': 4,
 'HEIST': 4,
 'MOLLY BROWN': 5,
 'NEMESIS': 4,
 'NIGHTLOCK': 4,
 'OZONE': 5,
 'RIOT': 6,
 'SCANDAL': 7,
 'SCHWA': 4,
 'SHOWDOWN': 5,
 'TABBY ROSA': 4,
 'TRAFFIC': 5,
 'UNDERGROUND': 4}

In [125]:
games_list_14champ = []
for item in stats_14champ.Team:
    games_list_14champ.append(games_14champ[item])

In [126]:
stats_14champ['Games'] = games_list_14champ

2014 Championship Standings

In [127]:
standing_14champ = {'BRUTE SQUAD': 3,
 'CAPITALS': 14,
 'FURY': 2,
 'GREEN MEANS GO': 15,
 'HEIST': 11,
 'MOLLY BROWN': 9,
 'NEMESIS': 13,
 'NIGHTLOCK': 7,
 'OZONE': 5,
 'RIOT': 3,
 'SCANDAL': 1,
 'SCHWA': 9,
 'SHOWDOWN': 6,
 'TABBY ROSA': 16,
 'TRAFFIC': 7,
 'UNDERGROUND': 12}

In [128]:
standing_list_14champ = []
for item in stats_14champ.Team:
    standing_list_14champ.append(standing_14champ[item])

In [129]:
stats_14champ['Standing'] = standing_list_14champ

2014 Championship Spirit

In [130]:
# spirit scores
r = requests.get('http://play.usaultimate.org/events/usa-ultimate-national-championships/')
b = BeautifulSoup(r.text, 'html.parser')

scores_14champ = [str(item).split('\n')[2:5:2] for item in b.find_all('table',{'width':'400'})[2].find_all('tr')]
# scores_14

In [131]:
# re.findall('([^>]*)</', scores_14[1][0])[0].upper() # for team
# scores_14[count][1][6:-5] # score
# float(re.findall('([^>]*)</', scores[count][0])[0])

In [133]:
spirit_14champ = {}
count = 1

while count < len(scores_14champ):
    spirit_14champ[re.findall('([^>]*)</', scores_14champ[count][0])[0].upper()] = float(scores_14champ[count][1][6:-5])

    count += 1
    
# spirit_14champ

In [134]:
scores_list_14champ = []
for item in stats_14champ.Team:
    scores_list_14champ.append(spirit_14champ[item]/20.0)

In [135]:
stats_14champ['Spirit'] = scores_list_14champ
stats_14champ = stats_14champ[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_14champ.sort_values('Standing', ascending=False).head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
355,TABBY ROSA,15,AMANDA SCHWORM,3,0,NaN,NaN,4,2014 USAU Club Championships,16,0.7645
356,TABBY ROSA,18,SHAYNA BROCK,2,0,NaN,NaN,4,2014 USAU Club Championships,16,0.7645
349,TABBY ROSA,05,DIANA ELSNER,0,1,NaN,NaN,4,2014 USAU Club Championships,16,0.7645
350,TABBY ROSA,06,ALEXA WOOD,0,0,NaN,NaN,4,2014 USAU Club Championships,16,0.7645
351,TABBY ROSA,07,KELSEY VIARS,14,3,NaN,NaN,4,2014 USAU Club Championships,16,0.7645

# 2014 WUCC
http://wucc2014.wfdf.org/?view=scorestatus&Series=3

In [136]:
r = requests.get('http://wucc2014.wfdf.org/?view=scorestatus&Series=3') 
b = BeautifulSoup(r.text, 'html.parser')

b.find('table', {'style':'width:100%'}).find_all('td')
List = [str(item) for item in b.find('table', {'style':'width:100%'}).find_all('td')]

In [137]:
def player_info_WUCC():
    
    List = [str(item) for item in b.find('table', {'style':'width:100%'}).find_all('td')]
    
    playerInfo = []
    count = 0
    
    while count < len(List):
        
        info = {}

        info['Number'] = np.nan
        info['Name'] = List[count+1][List[count+1].find('">')+2:List[count+1].find('</a>')].upper()
        info['Team'] = List[count+2][List[count+2].find('>')+1:List[count+2].find('</')].upper()
        info['Games'] = int(List[count+3][List[count+3].find('>')+1:List[count+3].find('</')])
        info['Assist'] = int(List[count+4][List[count+4].find('>')+1:List[count+4].find('</')])
        info['Goal'] = int(List[count+5][List[count+5].find('>')+1:List[count+5].find('</')])
        info['Block'] = np.nan
        info['Turn'] = np.nan
        
        count += 8
        playerInfo.append(info)
    
    return playerInfo

In [138]:
stats_14WUCC = DataFrame.from_dict(player_info_WUCC())

In [139]:
standing_list_14WUCC = []
for item in stats_14WUCC.Team:
    if item == 'RIOT':
        standing_list_14WUCC.append(1)
    else:
        standing_list_14WUCC.append(2)

In [140]:
stats_14WUCC = stats_14WUCC[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn']]
stats_14WUCC['Games'] = 1
stats_14WUCC['Tournament'] = '2014 WUCC'
stats_14WUCC['Standing'] = standing_list_14WUCC
stats_14WUCC['Spirit'] = np.nan

In [141]:
stats_14WUCC.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,RIOT,NaN,GWEN AMBLER,3,2,NaN,NaN,1,2014 WUCC,1,NaN
1,RIOT,NaN,DOMINIQUE FONTENETTE,3,2,NaN,NaN,1,2014 WUCC,1,NaN
2,RIOT,NaN,SARAH GRIFFITH,3,2,NaN,NaN,1,2014 WUCC,1,NaN
3,FURY,NaN,LISA PITCAITHLEY,3,2,NaN,NaN,1,2014 WUCC,2,NaN
4,FURY,NaN,CLAIRE DESMOND,4,0,NaN,NaN,1,2014 WUCC,2,NaN

# 2015 US Open
http://play.usaultimate.org/events/US-Open-Ultimate-Championships-2015/schedule/Women/Club-Women/

In [142]:
usopenteams_2015 = get_team_stat_urls('http://play.usaultimate.org/events/US-Open-Ultimate-Championships-2015/schedule/Women/Club-Women/')

In [143]:
usopenteams_2015

{'Brute Squad': '/events/teams/?EventTeamId=84syYg7b3waTyo%2bbqCDAt%2fyfmppoeKiVSQ7PjsbzduA%3d',
 'Fury': '/events/teams/?EventTeamId=AEDVG81b%2boVW8gM6T%2b5f1dD1WeP%2f2geY9i554Lh%2bXMU%3d',
 'Fusion': '/events/teams/?EventTeamId=tQDuWm1MzQDQCi4uUi2qZLvDYg6eu3sv7hkXHEIsmG4%3d',
 'Heist': '/events/teams/?EventTeamId=sUIxx8tFUBogcJDOPFYySpJ0%2bav%2fcFJJw4jWuOk1l1s%3d',
 'Nightlock': '/events/teams/?EventTeamId=eKNUj%2btYMEj3%2bM9CvyKlUBF7SHmAIL4aa9T%2bMzGGODI%3d',
 'Ozone': '/events/teams/?EventTeamId=1LJqdrLVbRk%2fFgPd0333ycBKDXc%2b0JqMvtCQr5Fk7%2bA%3d',
 'Phoenix': '/events/teams/?EventTeamId=nBP8lIGROlKiWNpkgd9hYBu6y%2bU9In24BDeWMq65EmM%3d',
 'Scandal': '/events/teams/?EventTeamId=fpEK1OCBGtQhzFGSAcwqEYjPgBo4vogClpCAFESZcQM%3d',
 'Schwa': '/events/teams/?EventTeamId=8Xpeb5k5ym8bWV8fuBR0QKKBwtbP%2baAKIfKgIPnAfBo%3d',
 'Seattle Riot': '/events/teams/?EventTeamId=Yl9zGzPfGDHJGe9huU2WnzZQvHGJLAywKxZDYg1UKCw%3d',
 'Showdown': '/events/teams/?EventTeamId=QlipE96J49016xy2PvJDGOg1XlcNnhAyuUqnuIRoLis%3d',
 'Traffic': '/events/teams/?EventTeamId=lEOsY7X1TsgFK7Kw23GlzN1frKJaJnnoYCv0YVvJyoM%3d'}

In [144]:
stats_15usopen = DataFrame.from_dict(get_stats(usopenteams_2015))

In [145]:
stats_15usopen = stats_15usopen[cols]
stats_15usopen['Tournament'] = '2015 US Open'

In [146]:
for item in stats_15usopen.Team:
    if item == 'SEATTLE RIOT':
        stats_15usopen['Team'].replace(item, 'RIOT', inplace=True)

In [147]:
stats_15usopen.Team.value_counts()

RIOT           27
BRUTE SQUAD    26
SCHWA          26
FUSION         25
FURY           24
PHOENIX        24
OZONE          23
HEIST          21
NIGHTLOCK      21
SHOWDOWN       19
SCANDAL        19
TRAFFIC        19
Name: Team, dtype: int64

2015 US Open Games

In [148]:
games_15usopen = {'RIOT': 7,
 'BRUTE SQUAD': 6,
 'SCHWA': 6,
 'FUSION': 6,
 'FURY': 7,
 'PHOENIX': 6,
 'OZONE': 6,
 'HEIST': 6,
 'NIGHTLOCK': 6,
 'SHOWDOWN': 6,
 'SCANDAL': 6,
 'TRAFFIC': 6}

In [149]:
games_list_15usopen = []
for item in stats_15usopen.Team:
    games_list_15usopen.append(games_15usopen[item])

In [150]:
stats_15usopen['Games'] = games_list_15usopen

2015 US Open Standings

In [151]:
standing_15usopen = {'RIOT': 2,
 'BRUTE SQUAD': 3,
 'SCHWA': 10,
 'FUSION': 11,
 'FURY': 1,
 'PHOENIX': 12,
 'OZONE': 8,
 'HEIST': 7,
 'NIGHTLOCK': 5,
 'SHOWDOWN': 9,
 'SCANDAL': 6,
 'TRAFFIC': 3,}

In [152]:
standing_list_15usopen = []
for item in stats_15usopen.Team:
    standing_list_15usopen.append(standing_15usopen[item])

In [153]:
stats_15usopen['Standing'] = standing_list_15usopen

2015 US Open Spirit Scores

http://www.usaultimate.org/news/2015-us-open-spirit-of-the-game-report/

In [154]:
# spirit scores
r = requests.get('http://www.usaultimate.org/news/2015-us-open-spirit-of-the-game-report/')
b = BeautifulSoup(r.text, 'html.parser')

In [155]:
scores_15usopen = [str(item) for item in b.find_all('table',{'width':'600'})[2].find_all('td')[:-7]]

In [156]:
spirit_15usopen = {}
count = 0

while count < len(scores_15usopen):
    spirit_15usopen[re.findall('([^>]*)</', scores_15usopen[count])[0].upper()] = float(scores_15usopen[count+6][4:-5])

    count += 7
    
spirit_15usopen

{'BRUTE SQUAD': 11.0,
 'FURY': 11.0,
 'FUSION': 9.0,
 'HEIST': 11.5,
 'NIGHTLOCK': 11.83,
 'OZONE': 11.67,
 'PHOENIX': 11.0,
 'RIOT': 12.2,
 'SCANDAL': 13.67,
 'SCHWA': 9.5,
 'SHOWDOWN': 11.83,
 'TRAFFIC': 10.4}

In [157]:
scores_list_15usopen = []
for item in stats_15usopen.Team:
    scores_list_15usopen.append(spirit_15usopen[item]/20.0)

In [158]:
stats_15usopen['Spirit'] = scores_list_15usopen
stats_15usopen = stats_15usopen[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_15usopen.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,NIGHTLOCK,0,MALLORY MEISER,2,0,NaN,NaN,6,2015 US Open,5,0.5915
1,NIGHTLOCK,03,LORYN KANEMARU,2,7,NaN,NaN,6,2015 US Open,5,0.5915
2,NIGHTLOCK,06,MONISHA WHITE,1,4,NaN,NaN,6,2015 US Open,5,0.5915
3,NIGHTLOCK,07,CLAIRE SHARMAN,7,1,NaN,NaN,6,2015 US Open,5,0.5915
4,NIGHTLOCK,08,RACHEL HABBERT,2,7,NaN,NaN,6,2015 US Open,5,0.5915

# 2015 Club Championship Stats
http://play.usaultimate.org/events/USA-Ultimate-National-Championships-2015/schedule/Women/Club-Women/'

In [159]:
teams_champ2015 = get_team_stat_urls('http://play.usaultimate.org/events/USA-Ultimate-National-Championships-2015/schedule/Women/Club-Women/')

In [160]:
teams_champ2015

{'BENT': '/events/teams/?EventTeamId=tl1rkVLjdczXVbOWzjG8T6fVjubOyhxGoQqAHV0da4g%3d',
 'Brute Squad': '/events/teams/?EventTeamId=c%2bbyh9S9ANQUYGFX55jj2huoFtowEZg%2fAyga4pprMQ0%3d',
 'Capitals': '/events/teams/?EventTeamId=x4u7Gvp5rOjImw437isTD%2fs%2bQ06953u7JY%2f95O2ZmYY%3d',
 'Fury': '/events/teams/?EventTeamId=32oHgC3wTopGTV3EhDSbH36OX0nyemEg%2bP5KQfBRE1g%3d',
 'Heist': '/events/teams/?EventTeamId=CpQQbzcjJ0UXcqhrXjm3d8zVp0%2fIhQBVr%2fCVAX8yEAY%3d',
 'Iris': '/events/teams/?EventTeamId=Wy3HoIVoyiewP6W0uRSYiIJo8RJY0m3zrLvGpRwtEwI%3d',
 'Molly Brown': '/events/teams/?EventTeamId=RbDtI%2bYRGJIFXwMyY2GXHZNkAP4TG3e5cYp%2bwYagX5s%3d',
 'Nemesis': '/events/teams/?EventTeamId=crhCXpLrJODvUJL6ppk9K1V8i2mXHNLATKv1ZOibPUc%3d',
 'Nightlock': '/events/teams/?EventTeamId=EfdvGasY6mEwfXfzbwlKQKOo3de2IF4mbYrPHnmtd2Q%3d',
 'Ozone': '/events/teams/?EventTeamId=iAImqQuifQ77w%2bC0P2niH56jBIDV%2fpmjWfCpaiDP%2brQ%3d',
 'Phoenix': '/events/teams/?EventTeamId=CB%2br3JHfJtcIvZONww0nNVHSZZMq9jH%2frilvqOvHLyk%3d',
 'Scandal': '/events/teams/?EventTeamId=1p1xfsPWLSJo49m2wW6PLGWhf64z3TbBK80VQYupjH4%3d',
 'Schwa': '/events/teams/?EventTeamId=tVfG9QyqwGVHTA9%2bJr5%2f2OCqzoOVdKoauqT3wHzADl8%3d',
 'Seattle Riot': '/events/teams/?EventTeamId=rL6ZybguUwJ2d26MOqTQkrgsVAuQwZmdj07a9vAJNiY%3d',
 'Showdown': '/events/teams/?EventTeamId=2rKdDwlJsGvedI6QGcXrsJNiSoqMED%2fY0ah5QVEvfuU%3d',
 'Traffic': '/events/teams/?EventTeamId=b6KwKgl3XZF4UGZSITU4rrdMUuX4kEWeE%2fOrNp3ceDg%3d'}

In [163]:
stats_15champ = DataFrame.from_dict(get_stats(teams_champ2015))

In [164]:
stats_15champ = stats_15champ[cols]
stats_15champ['Tournament'] = '2015 USAU Club Championships'

In [165]:
for item in stats_15champ.Team:
    if item == 'SEATTLE RIOT':
        stats_15champ['Team'].replace(item, 'RIOT', inplace=True)

2015 Championship Games

In [166]:
games_15champ = {'BENT': 7,
 'BRUTE SQUAD': 7,
 'CAPITALS': 7,
 'FURY': 6,
 'HEIST': 7,
 'IRIS': 7,
 'MOLLY BROWN': 6,
 'NEMESIS': 7,
 'NIGHTLOCK': 7,
 'OZONE': 7,
 'PHOENIX': 7,
 'RIOT': 7,
 'SCANDAL': 7,
 'SCHWA': 7,
 'SHOWDOWN': 7,
 'TRAFFIC': 7}

In [168]:
games_list_15champ = []
for item in stats_15champ.Team:
    games_list_15champ.append(games_15champ[item])

In [169]:
stats_15champ['Games'] = games_list_15champ

2015 Championship Standings

In [170]:
standing_15champ = {'BENT': 14,
 'BRUTE SQUAD': 1,
 'CAPITALS': 13,
 'FURY': 3,
 'HEIST': 9,
 'IRIS': 12,
 'MOLLY BROWN': 3,
 'NEMESIS': 16,
 'NIGHTLOCK': 7,
 'OZONE': 9,
 'PHOENIX': 7,
 'RIOT': 2,
 'SCANDAL': 6,
 'SCHWA': 11,
 'SHOWDOWN': 15,
 'TRAFFIC': 5}

In [171]:
standing_list_15champ = []
for item in stats_15champ.Team:
    standing_list_15champ.append(standing_15champ[item])

In [172]:
stats_15champ['Standing'] = standing_list_15champ

2015 Championship Spirit Scores

http://play.usaultimate.org/events/usa-ultimate-national-championships-2015/

In [173]:
# spirit scores
r = requests.get('http://play.usaultimate.org/events/usa-ultimate-national-championships-2015/')
b = BeautifulSoup(r.text, 'html.parser')

scores_15champ = [str(item).split('\n')[2:5:2] for item in b.find_all('table',{'width':'400'})[2].find_all('tr')]
scores_15champ

[['<td width="150"><strong>Team</strong></td>',
  '<td width="100"><strong>Spirit Score</strong></td>'],
 ['<td>Brute Squad</td>', '<td>\xc2\xa011.00</td>'],
 ['<td>Riot</td>', '<td>\xc2\xa014.00</td>'],
 ['<td>Fury</td>', '<td>\xc2\xa013.60</td>'],
 ['<td>Molly Brown</td>', '<td>\xc2\xa011.33</td>'],
 ['<td><span style="font-size: 10.9091px;">Traffic</span></td>',
  '<td>\xc2\xa012.00</td>'],
 ['<td>Scandal</td>', '<td>\xc2\xa011.64</td>'],
 ['<td>Nightlock</td>', '<td>\xc2\xa010.43</td>'],
 ['<td>Phoenix</td>', '<td>\xc2\xa012.00</td>'],
 ['<td>Ozone</td>', '<td>\xc2\xa010.71</td>'],
 ['<td>Heist</td>', '<td>\xc2\xa011.00</td>'],
 ['<td>Schwa</td>', '<td>\xc2\xa011.67</td>'],
 ['<td>Iris</td>', '<td>\xc2\xa011.29</td>'],
 ['<td>Capitals</td>', '<td>\xc2\xa010.43</td>'],
 ['<td>Bent</td>', '<td>\xc2\xa07.43</td>'],
 ['<td>Showdown</td>', '<td>\xc2\xa08.14</td>'],
 ['<td>Nemesis</td>', '<td>\xc2\xa011.00</td>']]

In [174]:
spirit_15champ = {}
count = 1

while count < len(scores_15champ):
    spirit_15champ[re.findall('([^>]*)</', scores_15champ[count][0])[0].upper()] = float(scores_15champ[count][1][6:-5])

    count += 1
    
spirit_15champ

{'BENT': 7.43,
 'BRUTE SQUAD': 11.0,
 'CAPITALS': 10.43,
 'FURY': 13.6,
 'HEIST': 11.0,
 'IRIS': 11.29,
 'MOLLY BROWN': 11.33,
 'NEMESIS': 11.0,
 'NIGHTLOCK': 10.43,
 'OZONE': 10.71,
 'PHOENIX': 12.0,
 'RIOT': 14.0,
 'SCANDAL': 11.64,
 'SCHWA': 11.67,
 'SHOWDOWN': 8.14,
 'TRAFFIC': 12.0}

In [175]:
scores_list_15champ = []
for item in stats_15champ.Team:
    scores_list_15champ.append(spirit_15champ[item]/20.0)

In [176]:
stats_15champ['Spirit'] = scores_list_15champ
stats_15champ = stats_15champ[['Team', 'Number', 'Name', 'Goal', 'Assist', 'Block', 'Turn', 'Games', 'Tournament', 'Standing', 'Spirit']]
stats_15champ.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,IRIS,00,CAROLINE CADOTTE,0,0,NaN,NaN,7,2015 USAU Club Championships,12,0.5645
1,IRIS,00,MARIANNE PILON,0,0,NaN,NaN,7,2015 USAU Club Championships,12,0.5645
2,IRIS,00,STéPHANIE VILLANUEVA,0,0,NaN,NaN,7,2015 USAU Club Championships,12,0.5645
3,IRIS,01,JULIE DAVIAU,9,1,NaN,NaN,7,2015 USAU Club Championships,12,0.5645
4,IRIS,04,MARIE GENEST,6,19,NaN,NaN,7,2015 USAU Club Championships,12,0.5645

## One Stat Dataframe

In [178]:
one_stat = pd.concat([stats_11champ, stats_12WUGC, stats_12usopen, stats_13WG, stats_13champ, stats_13usopen, stats_14WUCC, stats_14champ, stats_14usopen, stats_15champ, stats_15usopen], ignore_index=True)

In [180]:
one_stat.head()

,Team,Number,Name,Goal,Assist,Block,Turn,Games,Tournament,Standing,Spirit
0,BENT,0,AKINA YOUNGE,3,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858
1,BENT,1,NAOMI BRENDER,0,0,NaN,NaN,7,2011 USAU Club Championships,16,0.858
2,BENT,2,KAREN CHALIF,4,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858
3,BENT,7,ANNE SILVER,0,0,NaN,NaN,7,2011 USAU Club Championships,16,0.858
4,BENT,8,MARISA WESTHEIMER,1,1,NaN,NaN,7,2011 USAU Club Championships,16,0.858

## Reconcile names

In [181]:
# one_stat.replace('SANDRA JORGENSEN', 'SANDY JORGENSEN', inplace=True)
# one_stat.replace('ABIGAIL EDWARDSVANMUIJEN', 'ABBY VANMUIJEN', inplace=True)
# one_stat.replace('ASHLEY DALY', 'ASHLEY DALY MORGAN', inplace=True)
# one_stat.replace('ANGELICA GELI"" BOYDEN', 'ANGELICA BOYDEN', inplace=True)

In [182]:
# rid of UNKNOWNs
one_stat = one_stat[one_stat.Name != 'UNKNOWN']

## US Teams only

In [183]:
one_stat.Team.value_counts()

RIOT              228
FURY              227
SHOWDOWN          183
SCANDAL           181
BRUTE SQUAD       152
PHOENIX           143
OZONE             137
MOLLY BROWN       128
TRAFFIC           119
SCHWA             103
HEIST              99
NIGHTLOCK          98
NEMESIS            93
CAPITALS           87
BENT               74
NOVA               42
SAFARI             41
REVOLUTION         28
GREEN MEANS GO     27
FUSION             25
UNDERGROUND        24
IRIS               23
REVOLOUTION        23
AEROSOUL           21
TABBY ROSA         19
DESOTO             18
FURTHER            16
MUD                15
ICENI              15
BAMBOO             15
TEAM USA            6
Name: Team, dtype: int64

In [184]:
# rid of international teams
us_stat = one_stat[(one_stat.Team != 'TRAFFIC') & (one_stat.Team != 'CAPITALS') & (one_stat.Team != 'IRIS') & (one_stat.Team != 'NOVA') & (one_stat.Team != 'REVOLUTION') & (one_stat.Team != 'FUSION') & (one_stat.Team != 'AEROSOUL') & (one_stat.Team != 'MUD') & (one_stat.Team != 'ICENI') & (one_stat.Team != 'BAMBOO')]

In [185]:
us_stat.Team.value_counts()

RIOT              228
FURY              227
SHOWDOWN          183
SCANDAL           181
BRUTE SQUAD       152
PHOENIX           143
OZONE             137
MOLLY BROWN       128
SCHWA             103
HEIST              99
NIGHTLOCK          98
NEMESIS            93
BENT               74
SAFARI             41
GREEN MEANS GO     27
UNDERGROUND        24
REVOLOUTION        23
TABBY ROSA         19
DESOTO             18
FURTHER            16
TEAM USA            6
Name: Team, dtype: int64

## Feature engineering

In [186]:
us_stat['GPG'] = us_stat.Goal/us_stat.Games
us_stat['APG'] = us_stat.Assist/us_stat.Games
us_stat['BPG'] = us_stat.Block/us_stat.Games
us_stat['TPG'] = us_stat.Turn/us_stat.Games

/Users/octaviapayne/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/octaviapayne/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/octaviapayne/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/octaviapayne/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [187]:
us_stat = us_stat[['Team', 'Number', 'Name', 'Goal', 'GPG','Assist','APG','Block', 'BPG', 'Turn', 'TPG', 'Games', 'Tournament', 'Standing', 'Spirit']]

In [188]:
# mega_stats['Team_Num'] = mega_stats.Team.map({'FURY':0, 'RIOT':1, 'BRUTE SQUAD':2, 'HEIST':3, 'TRAFFIC':4, 'SCHWA':5, 'NIGHTLOCK':6,'SHOWDOWN':7, 'MOLLY BROWN':8, 'OZONE':9, 'SCANDAL':10, 'NEMESIS':11, 'CAPITALS':12, 'BENT':13, 'PHOENIX':14, 'GREEN MEANS GO':15, 'UNDERGROUND':16, 'IRIS':17, 'NOVA':18, 'TABBY ROSA':19, 'TEAM USA':20})

## Add wg13

In [190]:
# add WG13 column (i.e. players who made WG13)
wg13_players = ['ALEX SNYDER', 'CARA CROUCH', 'GEORGIA BOSSCHER', 'OCTAVIA PAYNE', 'SARAH GRIFFITH', 'CREE HOWARD', 'ROHRE TITCOMB', 'SANDY JORGENSEN', 'ANNA NAZAROV']

In [191]:
wg13 = []
for item in us_stat.Name:
    if item in wg13_players:
        wg13.append(1)
    else:
        wg13.append(0)

In [192]:
us_stat['wg13'] = wg13

In [193]:
us_stat[us_stat.wg13 ==1]

,Team,Number,Name,Goal,GPG,Assist,APG,Block,BPG,Turn,TPG,Games,Tournament,Standing,Spirit,wg13
109,FURY,4,ALEX SNYDER,5,0.625000,15,1.875000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,1,0.8280,1
118,FURY,13,CREE HOWARD,8,1.000000,4,0.500000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,1,0.8280,1
121,FURY,19,GEORGIA BOSSCHER,6,0.750000,7,0.875000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,1,0.8280,1
258,RIOT,4,ROHRE TITCOMB,0,0.000000,0,0.000000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,2,0.7140,1
260,RIOT,6,SARAH GRIFFITH,11,1.375000,9,1.125000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,2,0.7140,1
305,SCANDAL,9,OCTAVIA PAYNE,4,0.500000,20,2.500000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,8,0.7500,1
319,SCANDAL,37,SANDY JORGENSEN,10,1.250000,5,0.625000,NaN,NaN,NaN,NaN,8,2011 USAU Club Championships,8,0.7500,1
324,SHOWDOWN,5,CARA CROUCH,6,0.666667,30,3.333333,NaN,NaN,NaN,NaN,9,2011 USAU Club Championships,6,0.7780,1
347,FURY,4,ALEX SNYDER,3,0.250000,32,2.666667,NaN,NaN,NaN,NaN,12,2012 WUGC,2,0.6000,1
348,FURY,19,GEORGIA BOSSCHER,13,1.083333,14,1.166667,NaN,NaN,NaN,NaN,12,2012 WUGC,2,0.6000,1
350,FURY,13,CREE HOWARD,15,1.250000,6,0.500000,NaN,NaN,NaN,NaN,12,2012 WUGC,2,0.6000,1
362,FURY,33,ANNA NAZAROV,4,0.333333,8,0.666667,NaN,NaN,NaN,NaN,12,2012 WUGC,2,0.6000,1
477,RIOT,4,ROHRE TITCOMB,1,0.111111,10,1.111111,5,0.555556,18,2.000000,9,2012 US Open,1,0.8880,1
479,RIOT,6,SARAH GRIFFITH,12,1.333333,4,0.444444,3,0.333333,8,0.888889,9,2012 US Open,1,0.8880,1
530,SCANDAL,9,OCTAVIA PAYNE,5,0.555556,14,1.555556,15,1.666667,27,3.000000,9,2012 US Open,2,0.7780,1
543,SCANDAL,37,SANDY JORGENSEN,11,1.222222,7,0.777778,8,0.888889,7,0.777778,9,2012 US Open,2,0.7780,1
557,SHOWDOWN,18,CARA CROUCH,4,0.500000,10,1.250000,2,0.250000,24,3.000000,8,2012 US Open,3,0.9000,1
572,TEAM USA,24,ALEX SNYDER,1,0.166667,10,1.666667,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
573,TEAM USA,5,CARA CROUCH,2,0.333333,3,0.500000,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
574,TEAM USA,19,GEORGIA BOSSCHER,3,0.500000,3,0.500000,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
575,TEAM USA,9,OCTAVIA PAYNE,4,0.666667,1,0.166667,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
576,TEAM USA,6,SARAH GRIFFITH,11,1.833333,0,0.000000,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
577,TEAM USA,13,CREE HOWARD,6,1.000000,0,0.000000,NaN,NaN,NaN,NaN,6,2013 World Games,1,NaN,1
657,FURY,4,ALEX SNYDER,2,0.285714,11,1.571429,7,1.000000,9,1.285714,7,2013 USAU Club Championships,2,0.8280,1
666,FURY,13,CREE HOWARD,5,0.714286,1,0.142857,3,0.428571,4,0.571429,7,2013 USAU Club Championships,2,0.8280,1
674,FURY,33,ANNA NAZAROV,7,1.000000,4,0.571429,7,1.000000,7,1.000000,7,2013 USAU Club Championships,2,0.8280,1
692,HEIST,19,GEORGIA BOSSCHER,4,0.666667,4,0.666667,6,1.000000,15,2.500000,6,2013 USAU Club Championships,12,0.8340,1
854,RIOT,4,ROHRE TITCOMB,0,0.000000,0,0.000000,0,0.000000,0,0.000000,7,2013 USAU Club Championships,3,0.8860,1
856,RIOT,6,SARAH GRIFFITH,8,1.142857,17,2.428571,4,0.571429,4,0.571429,7,2013 USAU Club Championships,3,0.8860,1
885,SCANDAL,9,OCTAVIA PAYNE,6,0.857143,14,2.000000,8,1.142857,17,2.428571,7,2013 USAU Club Championships,1,0.8720,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,FURY,NaN,ANNA NAZAROV,0,0.000000,1,1.000000,NaN,NaN,NaN,NaN,1,2014 WUCC,2,NaN,1
1223,FURY,NaN,ALEX SNYDER,0,0.000000,0,0.000000,NaN,NaN,NaN,NaN,1,2014 WUCC,2,NaN,1
1278,RIOT,04,ROHRE TITCOMB,1,0.166667,13,2.166667,NaN,NaN,NaN,NaN,6,2014 USAU Club Championships,3,0.7085,1
1280,RIOT,06,SARAH GRIFFITH,10,1.666667,7,1.166667,NaN,NaN,NaN,NaN,6,2014 USAU Club Championships,3,0.7085,1
1328,FURY,04,ALEX SNYDER,0,0.000000,8,1.142857,NaN,NaN,NaN,NaN,7,2014 USAU Club Championships,2,0.6715,1
1336,FURY,13,CREE HOWARD,4,0.571429,3,0.428571,NaN,NaN,NaN,NaN,7,2014 USAU Club Championships,2,0.6715,1
1345,FURY,33,ANNA NAZAROV,4,0.571429,7,1.000000,NaN,NaN,NaN,NaN,7,2014 USAU Club Championships,2,0.6715,1
1366,HEIST,19,GEORGIA BOSSCHER,6,1.500000,12,3.000000,NaN,NaN,NaN,NaN,4,2014 USAU Club Championships,11,0.7355,1
1554,SCANDAL,09,OCTAVIA PAYNE,4,0.571429,23,3.285714,NaN,NaN,NaN,NaN,7,2014 USAU Club Championships,1,0.6355,1
1564,SCANDAL,37,SANDY JORGENSEN,21,3.000000,4,0.571429,NaN,NaN,NaN,NaN,7,2014 USAU Club Championships,1,0.6355,1
1620,RIOT,04,ROHRE TITCOMB,5,0.555556,8,0.888889,NaN,NaN,NaN,NaN,9,2014 US Open,1,0.8285,1
1622,RIOT,06,SARAH GRIFFITH,19,2.111111,14,1.555556,NaN,NaN,NaN,NaN,9,2014 US Open,1,0.8285,1
1643,FURY,04,ALEX SNYDER,3,0.375000,8,1.000000,NaN,NaN,NaN,NaN,8,2014 US Open,3,0.7715,1
1651,FURY,13,CREE HOWARD,2,0.250000,1,0.125000,NaN,NaN,NaN,NaN,8,2014 US Open,3,0.7715,1
1660,FURY,33,ANNA NAZAROV,7,0.875000,13,1.625000,NaN,NaN,NaN,NaN,8,2014 US Open,3,0.7715,1
1757,SCANDAL,09,OCTAVIA PAYNE,3,0.428571,10,1.428571,NaN,NaN,NaN,NaN,7,2014 US Open,5,0.7715,1
1768,SCANDAL,37,SANDY JORGENSEN,7,1.000000,5,0.714286,NaN,NaN,NaN,NaN,7,2014 US Open,5,0.7715,1
1910,FURY,04,ALEX SNYDER,2,0.333333,11,1.833333,NaN,NaN,NaN,NaN,6,2015 USAU Club Championships,3,0.6800,1
1918,FURY,13,CREE HOWARD,4,0.666667,5,0.833333,NaN,NaN,NaN,NaN,6,2015 USAU Club Championships,3,0.6800,1
1929,FURY,33,ANNA NAZAROV,1,0.166667,8,1.333333,NaN,NaN,NaN,NaN,6,2015 USAU Club Championships,3,0.6800,1
2009,MOLLY BROWN,09,OCTAVIA PAYNE,1,0.166667,8,1.333333,NaN,NaN,NaN,NaN,6,2015 USAU Club Championships,3,0.5665,1
2125,SCANDAL,37,SANDY JORGENSEN,8,1.142857,8,1.142857,NaN,NaN,NaN,NaN,7,2015 USAU Club Championships,6,0.5820,1
2160,RIOT,04,ROHRE TITCOMB,2,0.285714,8,1.142857,NaN,NaN,NaN,NaN,7,2015 USAU Club Championships,2,0.7000,1
2162,RIOT,06,SARAH GRIFFITH,13,1.857143,5,0.714286,NaN,NaN,NaN,NaN,7,2015 USAU Club Championships,2,0.7000,1
2254,FURY,04,ALEX SNYDER,5,0.714286,11,1.571429,NaN,NaN,NaN,NaN,7,2015 US Open,1,0.5500,1
2262,FURY,13,CREE HOWARD,8,1.142857,8,1.142857,NaN,NaN,NaN,NaN,7,2015 US Open,1,0.5500,1
2273,FURY,33,ANNA NAZAROV,2,0.285714,7,1.000000,NaN,NaN,NaN,NaN,7,2015 US Open,1,0.5500,1
2426,SCANDAL,37,SANDY JORGENSEN,11,1.833333,5,0.833333,NaN,NaN,NaN,NaN,6,2015 US Open,6,0.6835,1
2434,RIOT,04,ROHRE TITCOMB,2,0.285714,5,0.714286,NaN,NaN,NaN,NaN,7,2015 US Open,2,0.6100,1
2436,RIOT,06,SARAH GRIFFITH,0,0.000000,0,0.000000,NaN,NaN,NaN,NaN,7,2015 US Open,2,0.6100,1

## Team Names into numbers

In [219]:
#use dummies to turn team names into numbers
# team_dummies = pd.get_dummies(us_female_stats.Team, prefix='Team')
# us_female_stats = pd.concat([us_female_stats, team_dummies], axis=1)

## Add tryouts

In [194]:
# scrape USAU for tryout list
r = requests.get('http://www.usaultimate.org/news/tryout-attendees-announced-for-2016-wugc-teams/')
b = BeautifulSoup(r.text, 'html.parser')

In [199]:
tryouts = [str(item).upper()[8:-10] for item in b.find('table').find_all('td')[::3]]

In [200]:
# add tryouts column

wugc16_tryouts = []
for item in us_stat.Name:
    if item in tryouts:
        wugc16_tryouts.append(1)
    else:
        wugc16_tryouts.append(0)

In [201]:
us_stat['wugc16_tryouts'] = wugc16_tryouts

## Add wugc16 roster

In [202]:
# scrape USAU for wugc16 women's roster
r = requests.get('http://www.usaultimate.org/news/usa-ultimate-announces-womens-team-for-2016-wugc/')
b = BeautifulSoup(r.text, 'html.parser')

In [203]:
b.find('table').find_all('td')[::4]

[<td>Sarah Anciaux\xa0</td>,
 <td>Georgia Bosscher\xa0</td>,
 <td>Calise Cardenas\xa0</td>,
 <td>Claire Chastain\xa0</td>,
 <td>Katy Craley\xa0</td>,
 <td>Claire Desmond\xa0</td>,
 <td>Jenny Fey\xa0</td>,
 <td>Katey Forth\xa0</td>,
 <td>Sarah Griffith\xa0</td>,
 <td>Kami Groom\xa0</td>,
 <td>Lien Hoffmann\xa0</td>,
 <td>Kaela Jorgenson\xa0</td>,
 <td>Hana Kawai\xa0</td>,
 <td>Anna Nazarov\xa0</td>,
 <td>Octavia Payne\xa0</td>,
 <td>Maggie Ruden\xa0</td>,
 <td>Lauren Sadler\xa0</td>,
 <td>Amber Sinicrope\xa0</td>,
 <td>Dena Slattery\xa0</td>,
 <td>Tina Snodgrass\xa0</td>,
 <td>Alex Snyder\xa0</td>,
 <td>Rohre Titcomb\xa0</td>,
 <td>Leila Tunnell</td>,
 <td>Mira Walker\xa0</td>]

In [204]:
# import re
# b = str(b.find('table').find_all('td')[::4][-2])

In [205]:
# re.findall('([^>]*)</', a)
# re.findall('([^>]*)\W?', a)
# re.findall('\w*\w', b)[1] + " " + re.findall('\w*\w', b)[2]

In [206]:
# wugc16 = [str(item).upper()[str(item).index('>')+1:-7] for item in b.find('table').find_all('td')[::4]]
import re

roster = []

for item in b.find('table').find_all('td')[::4]:
    roster.append(re.findall('\w*\w', str(item).upper())[1] + " " + re.findall('\w*\w', str(item).upper())[2])

In [207]:
roster

['SARAH ANCIAUX',
 'GEORGIA BOSSCHER',
 'CALISE CARDENAS',
 'CLAIRE CHASTAIN',
 'KATY CRALEY',
 'CLAIRE DESMOND',
 'JENNY FEY',
 'KATEY FORTH',
 'SARAH GRIFFITH',
 'KAMI GROOM',
 'LIEN HOFFMANN',
 'KAELA JORGENSON',
 'HANA KAWAI',
 'ANNA NAZAROV',
 'OCTAVIA PAYNE',
 'MAGGIE RUDEN',
 'LAUREN SADLER',
 'AMBER SINICROPE',
 'DENA SLATTERY',
 'TINA SNODGRASS',
 'ALEX SNYDER',
 'ROHRE TITCOMB',
 'LEILA TUNNELL',
 'MIRA WALKER']

In [208]:
wugc16 = []

for item in us_stat.Name:
    if item in roster:
        wugc16.append(1)
    else:
        wugc16.append(0)

In [209]:
us_stat['Team_WUGC16'] = wugc16

In [210]:
us_stat[us_stat.Team_WUGC16 == 1].groupby('Name').count()

,Team,Number,Goal,GPG,Assist,APG,Block,BPG,Turn,TPG,Games,Tournament,Standing,Spirit,wg13,wugc16_tryouts,Team_WUGC16
Name,,,,,,,,,,,,,,,,,
ALEX SNYDER,10,9,10,10,10,10,2,2,2,2,10,10,10,8,10,10,10
AMBER SINICROPE,4,4,4,4,4,4,1,1,1,1,4,4,4,4,4,4,4
ANNA NAZAROV,8,7,8,8,8,8,2,2,2,2,8,8,8,7,8,8,8
CALISE CARDENAS,9,8,9,9,9,9,3,3,3,3,9,9,9,8,9,9,9
CLAIRE CHASTAIN,6,6,6,6,6,6,3,3,3,3,6,6,6,6,6,6,6
CLAIRE DESMOND,7,6,7,7,7,7,2,2,2,2,7,7,7,6,7,7,7
DENA SLATTERY,4,4,4,4,4,4,1,1,1,1,4,4,4,4,4,4,4
GEORGIA BOSSCHER,5,5,5,5,5,5,1,1,1,1,5,5,5,4,5,5,5
HANA KAWAI,9,8,9,9,9,9,3,3,3,3,9,9,9,8,9,9,9
JENNY FEY,5,5,5,5,5,5,2,2,2,2,5,5,5,5,5,5,5
KAELA JORGENSON,9,8,9,9,9,9,2,2,2,2,9,9,9,8,9,9,9
KAMI GROOM,6,6,6,6,6,6,1,1,1,1,6,6,6,6,6,6,6
KATEY FORTH,8,8,8,8,8,8,3,3,3,3,8,8,8,8,8,8,8
KATY CRALEY,6,6,6,6,6,6,3,3,3,3,6,6,6,6,6,6,6
LAUREN SADLER,6,6,6,6,6,6,2,2,2,2,6,6,6,6,6,6,6
LEILA TUNNELL,5,5,5,5,5,5,2,2,2,2,5,5,5,5,5,5,5
LIEN HOFFMANN,5,5,5,5,5,5,1,1,1,1,5,5,5,5,5,5,5
MAGGIE RUDEN,8,7,8,8,8,8,2,2,2,2,8,8,8,7,8,8,8
MIRA WALKER,6,6,6,6,6,6,2,2,2,2,6,6,6,6,6,6,6
OCTAVIA PAYNE,8,8,8,8,8,8,3,3,3,3,8,8,8,7,8,8,8
ROHRE TITCOMB,9,8,9,9,9,9,3,3,3,3,9,9,9,8,9,9,9
SARAH GRIFFITH,10,9,10,10,10,10,3,3,3,3,10,10,10,8,10,10,10
TINA SNODGRASS,2,2,2,2,2,2,1,1,1,1,2,2,2,2,2,2,2

## Save to csv

In [211]:
# save df as csv
us_stat.to_csv('us_stat.csv', sep=',', encoding='utf-8')