In [1]:
numbers = range(5)
output = [ ]
for number in numbers:
    output.append(number * number)
print(output)

[0, 1, 4, 9, 16]

In [9]:
[number*number for number in range(5)]

[0, 1, 4, 9, 16]

In [1]:
import pandas as pd
q1 = pd.read_csv('../../q1hits.csv')

In [9]:
q1.shape

(379, 3)

In [12]:
q1bycountry = q1.groupby('Outlet Country').count().sort_values(by="News Headline", ascending=False)

In [13]:
q1bycountry

                      News Headline  Outlet City
Outlet Country
United States                   107           76
Netherlands                      41            1
Indonesia                        27           15
France                           25           22
China                            19           14
Australia                        16            7
United Kingdom                   13            9
Brazil                           13            7
Singapore                        12            5
Malaysia                         10            6
Germany                           9            6
Italy                             7            2
Canada                            6            5
Switzerland                       6            3
Mexico                            6            4
Cambodia                          4            1
Spain                             4            3
Taiwan                            3            2
Sweden                            3            3
India                             3            2
Slovakia                          2            2
New Zealand                       2            0
Venezuela                         2            0
Egypt                             2            1
Nigeria                           2            0
Hungary                           1            1
Belgium                           1            0
United Arab Emirates              1            1
Ukraine                           1            1
Thailand                          1            0
Tajikistan                        1            0
Hong Kong                         1            1
Pakistan                          1            0
Panama                            1            0
Kuwait                            1            0
Austria                           1            0
Saudi Arabia                      1            1
Portugal                          1            0
Philippines                       1            0
Paraguay                          1            0
Japan                             1            0

In [16]:
q1bycountry.to_csv('q1bycountry.csv', sep=',')