## 2013 Club Championship Stats

In [14]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [15]:
stats = pd.read_html('../data/2013ClubChampStats.html')

In [16]:
stats_2013 = stats[0]
stats_2013.head()

   Team  #           Player  Goals  Assists  Ds  TOs
0  Bent  0  Brittany Kaplan      0        3   2    5
1  Bent  1        Lexi Zalk      4        1   4    0
2  Bent  2     Karen Chalif      3        1   0    6
3  Bent  3      Judy Jarvis      3        7   2   11
4  Bent  5   Katherine Cole      1        1   1    2

## 2014 Club Championship Stats

In [188]:
with open('../data/2014ClubChampWomensTeams.html', 'rU') as f:
    html = f.read()

In [189]:
b = BeautifulSoup(html, 'html.parser')

In [190]:
step1 = [str(item).split('\n') for item in b.find_all('tr', style='border: 1px solid #eee;')]
step2 = [item[1][13:-9] for item in step1]
step3 = [item.split('">') for item in step2]
step3
step4 = [item[1].split(' (') for item in step3]

In [191]:
team_url = {}
for item in range(16):
    team_url[step4[item][0]] = step3[item][0]

In [192]:
team_url

{'Brute Squad': '/events/teams/?EventTeamId=xp%2bejIJBOcfXXkdUBdhyKw7QdaKTsy2msZaYJsN0QFI%3d',
 'Capitals': '/events/teams/?EventTeamId=QMEULDssKTN4OuwrBMNq94efa7qxYCOB39XjXXvDBuY%3d',
 'Fury': '/events/teams/?EventTeamId=CBkbxJkqtPUazzlNKxrMYL476TAvWyT%2b%2bII9vIya7AM%3d',
 'Green Means Go': '/events/teams/?EventTeamId=ejfj3ptI1RiAMMNBDBMR%2bOWMPBwsN0Y86S%2fuCAYPw9U%3d',
 'Heist': '/events/teams/?EventTeamId=h%2bkaG2ZXhVd798X3lGV7PeEc5SUIuvMgQy9BNMokNsM%3d',
 'Molly Brown': '/events/teams/?EventTeamId=cKqY9nt%2bZuiYvmdlJ2MwdG0cK1L9yUN%2bWnowMqR1zKg%3d',
 'Nemesis': '/events/teams/?EventTeamId=mIbs2PBWcyioQl2JAuLt1FjcCr3eIAK7iEJX3hRzIO8%3d',
 'Nightlock': '/events/teams/?EventTeamId=KWGXFcYyimfQtEQ%2fDYoEE7kZ1HzzEC0yN7KIfYlhSWg%3d',
 'Ozone': '/events/teams/?EventTeamId=01oilPzTzWp6xnsGkQ0uJtZl64NEdUOHJ0wQZrvMnNY%3d',
 'Riot': '/events/teams/?EventTeamId=ddLOZCRcEzHqNrt1jat3nz4wNJ%2f7YNKK5OZQonhRuaQ%3d',
 'Scandal': '/events/teams/?EventTeamId=m%2f3%2f0BtHZz5iI3aEgO1fqtpMAlDOwL7dnQ9uEQk0EK8%3d',
 'Schwa': '/events/teams/?EventTeamId=esap3%2bfn3sLLAi%2bd1CxTiw7BVTCxjkAJdsoGTOIgx%2bc%3d',
 'Showdown': '/events/teams/?EventTeamId=i9PHtiZOwQbftmahwj7ZWJSPQInr4SNYpfhAUtOB3xo%3d',
 'Tabby Rosa': '/events/teams/?EventTeamId=BsdQC%2fDwobEqjntQ3M%2bPsGxZBLsy7MKdvHHcjWZszdU%3d',
 'Traffic': '/events/teams/?EventTeamId=lz7rHLVbDRM0KJ9kdEdQCmulguSFhgEyLZE8x%2fjkm5A%3d',
 'Underground': '/events/teams/?EventTeamId=3sDF4XVM1iwycJyXOa%2fItCAuNm%2b40z%2bEJPmAfa7S2BA%3d'}

In [194]:
def get_2014_team_stats(team_name):
    # create dict of column and value
    r = requests.get('http://play.usaultimate.org' + team_url[team_name])
    team_page = BeautifulSoup(r.text, 'html.parser')
    return team_page.find('div', id='roster_list')
    
#     team_name =

In [195]:
brute = get_2014_team_stats('Brute Squad')

In [207]:
type(brute)

bs4.element.Tag

In [202]:
# setting up data frame with columns

r = requests.get('http://play.usaultimate.org' + team_url['Traffic']) #any team name will do
team_page = BeautifulSoup(r.text, 'html.parser')

In [203]:
columns_2014 = [str(item)[15:-5] for item in team_page.find('div', id='roster_list').find_all('th', span='col')]

In [204]:
columns_2014

['No.',
 'Name',
 'Position',
 'Year',
 'Height',
 'Goals',
 'Assists',
 'Ds',
 'Turns']

In [205]:
stats_2014 = pd.DataFrame(columns=[columns])

In [206]:
stats_2014

Empty DataFrame
Columns: [No., Name, Position, Year, Height, Goals, Assists, Ds, Turns]
Index: []

In [ ]:
def get_player_number(team_name):

In [208]:
type(team_page.find('div', id='roster_list'))

bs4.element.Tag

In [213]:
brute.find_all('td')

[<td>01</td>,
 <td>KAMI GROOM</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>9</td>,
 <td>4</td>,
 <td>0</td>,
 <td>0</td>,
 <td>02</td>,
 <td>COURTNEY KIESOW</td>,
 <td></td>,
 <td></td>,
 <td>5'8"</td>,
 <td>2</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>03</td>,
 <td>SARA JACOBI</td>,
 <td></td>,
 <td></td>,
 <td>5'5"</td>,
 <td>2</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>04</td>,
 <td>ELIZABETH CALKINS</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>05</td>,
 <td>BLAKE SPITZ</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>3</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>06</td>,
 <td>CLAUDIA TAJIMA</td>,
 <td></td>,
 <td></td>,
 <td>5'6"</td>,
 <td>2</td>,
 <td>5</td>,
 <td>0</td>,
 <td>0</td>,
 <td>07</td>,
 <td>MIA GREENWALD</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>09</td>,
 <td>BECCA LUDFORD</td>,
 <td></td>,
 <td></td>,
 <td>5'6"</td>,
 <td>3</td>,
 <td>2</td>,
 <td>0</td>,
 <td>0</td>,
 <td>10</td>,
 <td>QXHNA TITCOMB</td>,
 <td></td>,
 <td></td>,
 <td>5'7"</td>,
 <td>3</td>,
 <td>3</td>,
 <td>0</td>,
 <td>0</td>,
 <td>11</td>,
 <td>CHRISTIE KIM</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>3</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>12</td>,
 <td>DORY ZIPERSTEIN</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>0</td>,
 <td>10</td>,
 <td>0</td>,
 <td>0</td>,
 <td>13</td>,
 <td>BECKY MALINOWSKI</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>10</td>,
 <td>9</td>,
 <td>0</td>,
 <td>0</td>,
 <td>14</td>,
 <td>PAULA SEVILLE</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>2</td>,
 <td>9</td>,
 <td>0</td>,
 <td>0</td>,
 <td>16</td>,
 <td>KIRSTEN UNFRIED</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>5</td>,
 <td>3</td>,
 <td>0</td>,
 <td>0</td>,
 <td>17</td>,
 <td>ANGELA ZHU</td>,
 <td></td>,
 <td></td>,
 <td>1'0"</td>,
 <td>0</td>,
 <td>4</td>,
 <td>0</td>,
 <td>0</td>,
 <td>18</td>,
 <td>LEILA TUNNELL</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>2</td>,
 <td>10</td>,
 <td>0</td>,
 <td>0</td>,
 <td>19</td>,
 <td>LIEN HOFFMANN</td>,
 <td></td>,
 <td></td>,
 <td>5'6"</td>,
 <td>6</td>,
 <td>5</td>,
 <td>0</td>,
 <td>0</td>,
 <td>21</td>,
 <td>CHELSEA MURPHY</td>,
 <td></td>,
 <td></td>,
 <td>5'3"</td>,
 <td>3</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>22</td>,
 <td>VICTORIA NEGUS</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>4</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>23</td>,
 <td>EMILY BAECHER</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>2</td>,
 <td>6</td>,
 <td>0</td>,
 <td>0</td>,
 <td>24</td>,
 <td>CHELSEA WITTE-GARCIA</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>4</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>25</td>,
 <td>SHIRA KLANE</td>,
 <td>Defense (Handler)</td>,
 <td></td>,
 <td>5'4"</td>,
 <td>2</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>26</td>,
 <td>ELANA SCHWAM</td>,
 <td></td>,
 <td></td>,
 <td>5'4"</td>,
 <td>3</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>28</td>,
 <td>VICKI CHANG</td>,
 <td>Handler</td>,
 <td></td>,
 <td>5'5"</td>,
 <td>1</td>,
 <td>3</td>,
 <td>0</td>,
 <td>0</td>,
 <td>33</td>,
 <td>LAURA BITTERMAN</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>10</td>,
 <td>1</td>,
 <td>0</td>,
 <td>0</td>,
 <td>37</td>,
 <td>MOLLY HALLWEAVER</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td>1</td>,
 <td>3</td>,
 <td>0</td>,
 <td>0</td>]